@media (max-width: 768px) {
    .main-chat-container {
        display: flex;

    }

    .chat-page {
        margin-top: 10%;
    }

    .chat-list {
        width: 100%;
        background-color: #ffffff;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .chat-list h2 {
        display: none;
    }

    .chat-item {
        padding: 10px;
        background-color: #f5f7fa;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-item img {
        width: 40px;
        height: 40px;
        border-radius: 50%;

    }

    .chat-item .chatName {
        display: none;
    }

    .chat-item:hover {
        background-color: #0a9ea2;
        color: white;
    }

    .chat-detail {
        width: 100%;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        height: 100vh;
        overflow-y: auto;
    }

    .message {
        display: flex;
        margin-bottom: 15px;
        align-items: flex-start;
    }

    .message .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .message-content {
        max-width: 80%;
    }

    .send {
        position: sticky;
        bottom: 0;
        background-color: #fff;
        padding: 10px;
        display: flex;
        gap: 10px;
        border-top: 1px solid #ccc;
        z-index: 10;
    }

    .send input {
        width: 80%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .send button {
        padding: 10px;
        background-color: rgba(10, 158, 162);
        color: white;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .send button:hover {
        background-color: #173046;
    }

}

.chat-list {
    width: 30%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto;
    height: 100%;

}

.chat-page {
    display: flex;
    padding: 20px;
    gap: 20px;
    height: 80vh;
    box-sizing: border-box;
}

.chat-list .chatName {
    margin-left: 10px;
}

.chat-list h2 {
    margin-bottom: 10px;
}

.chat-item {
    list-style: none;
    padding: 10px;
    background-color: #f5f7fa;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.chat-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-item:hover {
    background-color: #0a9ea2;
    color: white;
}



.chat-item.active {
    background-color: #0a9ea2;
    color: white;
}


.chat-detail {
    width: 65%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-height: 85vh;
    overflow-y: auto;
}

.chat-box {
    display: none;
    max-height: 75vh;
    overflow-y: auto;
}

.messages {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.message {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
}

.message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message a {
    text-decoration: none;
    color: black;
}

.message-content {
    max-width: 80%;
}

.message-content strong {
    font-size: 14px;
    margin-bottom: 5px;
}

.message-content p {
    padding: 10px;
    background-color: #e1f5fe;
    border-radius: 5px;
    margin: 0;
}

.my-message {
    justify-content: flex-end;
    text-align: right;
}

.send {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
    display: flex;
    gap: 10px;
    border-top: 1px solid #ccc;
    z-index: 10;
}

.send input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.send button {
    padding: 10px;
    background-color: rgba(10, 158, 162);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.send button:hover {
    background-color: #173046;
}