/* ===============================
   Контейнер профілю
================================ */
.profile-container {
    margin: 40px auto; /* Центрування та вертикальні відступи */
    max-width: 70%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* ===============================
     Хедер профілю
  ================================ */
.profile-header {
    display: flex;
    margin-bottom: 20px;
    text-align: left;
    border-left: 2px solid rgba(10, 158, 162);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
  
  .profile-photo {
    width: 200px;
    height: 200px;
    border: 1px solid rgba(10, 158, 162);
    margin: 15px 30px 15px 15px;
    border-radius: 10%;
  }

  .profile-info{
    margin-top: 30px;
    text-align: left;
  }
  
  .profile-info h1 {
    font-size: 40px;
    margin: 0;
  }
  
  .profile-info h3 {
    font-size: 24px;
    color: #777;
    margin-top: 5px;
  }
  
  /* ===============================
     Основний контент
  ================================ */
.profile-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-exp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 2px solid rgba(10, 158, 162);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}
  
  /* ===============================
     Секції профілю
  ================================ */
.section {
    width: 32%;
    margin: 5px 0 20px 0;
    padding: 20px;
    border-left: 2px solid rgba(10, 158, 162);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
  
  .section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .section ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;

  }
  
  /* ===============================
     Досвід
  ================================ */
  .expir {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .expir h2 {
    font-size: 20px;
    margin-bottom: 24px;
    text-align: left;
  }
  
  .expir p {
    text-align: left;
  }
  
  /* ===============================
     Спеціальності
  ================================ */
  .spc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.specs {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.spec, .exp {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 15px;
}
  
  /* ===============================
     <Strong>
  ================================ */
.strong-profile {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
  .strong-descr {
    font-weight: 600;
    font-size: 16px;
  }
  
  .strong {
    margin-bottom: 20px;
  }

  
  /* ===============================
     Додаткова інформація
  ================================ */
.other {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 2px solid rgba(10, 158, 162);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
  
  
  .otherInfo {
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
  }
  
  /* ===============================
     Адаптація під мобільні пристрої
  ================================ */
  @media (max-width: 768px) {
    .profile-container {
      max-width: 90%;
      padding: 15px;
      margin-top: 35%;
    }

    .profile-header {
        flex-direction: column;
        text-align: center;
        padding: 15px;
        border-left: 2px solid rgba(10, 158, 162);
        border-radius: 10px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    }
  
    .profile-photo {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .profile-info h1 {
      font-size: 26px;
    }
  
    .profile-info h3 {
      font-size: 16px;
    }

    .profile-content {
        flex-direction: column;

    }

    .profile-exp {
        flex-direction: column;
        border-left: 2px solid rgba(10, 158, 162);
        border-radius: 10px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    }
  
    .section {
      width: 100%;
      padding: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    .specs {
        width: 100%;
        border-left: 2px solid rgba(10, 158, 162);
        border-radius: 10px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    }
  
    .spc {
      flex-direction: column;
      gap: 10px;
    }
  
    .expir, .other {
      padding: 15px;
    }
  }
  